<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Text Analysis</title>
</head>
<body>
    <h1>Text Analysis Tool</h1>
    <form method="post">
        <textarea name="text" rows="10" cols="50" placeholder="Введите текст здесь..."></textarea><br>
        <input type="submit" value="Анализировать">
    </form>

    {% if word_counts %}
    <h2>Результаты анализа:</h2>
    <table>
        <thead>
            <tr>
                <th>Слово</th>
                <th>Частота</th>
            </tr>
        </thead>
        <tbody>
            {% for word, count in word_counts.items() %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>